
.cicidrums {
  color: #C60D85;
}

.hello {
  color: #000;
  font-weight: bold;
  font-size: 30px;
}

.about-me {
  font-family: 'Padauk';
  font-size: 20px;
  color: #fff;
  text-align: justify;
}

.projects ul {
  font-size: 30px;
  font-family: 'Courier New';
  line-height: normal;
  list-style-type: none;
  text-align: left;
}

.projects li:hover{
  font-size: 50px;
  cursor: pointer;
  color: #000;
  font-family: 'Courier New';
  font-weight: bold;
}

.projects h2 {
  font-family: 'Kreon' serif;
  font-size: 30px;
  color: #F6EA36;
  text-align: left;
  vertical-align: middle;
}

.projects {
  position: relative;
  text-align: left;
  color: #fff;
  float: left;
  vertical-align: middle;
  padding: 10px;
  width: auto;
}

.box-image h3 {
  color: #fff;
  text-align: right;
}

.box-image {
  text-align: center;
  vertical-align: middle;
  background-color: #F6EA36;
  margin: 10px;
  margin-right: 200px;
  padding-top: 50px;
  padding-bottom: 0px;
  padding-left: 50px;
  padding-right: 10px;
  float: left;
  width: 450px;
  height: 700px;
}

h2 {
  text-align: left;
  font-size: 30px;
}

h1 {
  color: #F6EA36;
  font-family: 'Yatra One', cursive;
  font-size: 60px;
}

body {
  font-family: 'Kreon', serif;
  margin: 20px;
  color: #F6EA36;
  background-color: #7ACC76;
  min-height: 500px;
  text-align: center;
}
