


.about-me {
  font-family: 'Padauk', sans-serif;
  font-size: 20px;
  color: #fff;
  text-align: justify;
}

.box-image {
  text-align: right;
  vertical-align: middle;
  
}

.box-text {
  background-color: #12317D;
  padding: 25px;
}

h2 {
  text-align: left;
}

h1 {
  color: #F6EA36;
  font-family: 'Yatra One', cursive;
}

body {
  font-family: 'Kreon', serif;
  margin: 20px;
  color: #F6EA36;
  background-color: #7ACC76;
  min-height: 500px;
  text-align: center;
}
