
.cicidrums {
  color: #C60D85;
}

.blockquote {
  margin-bottom: 20px;
  padding: 20px;
}

.years {
  font-size: 12px;
}

.btn-primary {
  background-color: #C60D85;
  color: #fff;
}

.btn-primary:hover {
  background-color: #fff;
  color: #000;
}

.btn-primary a:visited {
  background-color: #C60D6C;
  color: #fff;
}

.btn-primary a:visited:hover {
  color: #000;
}

.btn-default a:visited {
  color: #000;
}

.nav-tabs {
  font-size: 16px;
  color: #C60D85;
  font-family: 'Yatra One', cursive;
}

.hello {
  font-weight: bold;
  font-size: 22px;
}

.about-me {
  font-family: 'Padauk';
  font-size: 20px;
  color: #fff;
  text-align: justify;
}

.projects ul {
  font-size: 30px;
  font-family: 'Roboto Slab', serif;
  line-height: normal;
  list-style-type: none;
  text-align: left;
}

.projects a {
  color: #fff;
  text-decoration: none;
}

.projects li:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: rgba(35, 178, 217, 0.8);
  color: #FFF;
}

.projects h2 {
  font-family: 'Kreon' serif;
  font-size: 30px;
  color: #F6EA36;
  text-align: left;
  vertical-align: middle;
}

.projects {
  text-align: left;
  color: #fff;
  float: left;
  vertical-align: middle;
  padding: 10px;
  width: auto;
}

.tour-name {
  color: #C60D85;
  font-size: 18px;
  font-weight: bold;
}

.tour-name a {
  text-decoration: underline;
}

.tour-name a:hover {
  color: #F6EA36;
}

.tours li {
  font-size: 16px;
  list-style-type: none;
  font-family: 'Kreon', serif;
}

.tours a {
  color: #fff;
}

.videos {
  text-align: left;
  float: right;
  vertical-align: left;
  margin-bottom: 100px;
  width: auto;
}

.tours {
  width: 500px;
  text-align: left;
  float: left;
}

.box-image h3 {
  color: #fff;
  text-align: right;
}

.box-image {
  text-align: left;
  background-color: #F6EA36;
  margin: 10px;
  margin-right: 250px;
  margin-bottom: 100px;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 10px;
  float: left;
  width: 500px;
  height: 800px;
}

img {
  margin-bottom: 20px;
  margin-top: 20px;
}

hr {
  width: 100%;
  color: blue;
}

h3 {
  text-align: left;
  font-size: 16px;
  color: #fff;
}

h2 {
  text-align: left;
  font-size: 30px;
}

.videos h2 {
  font-size: 30px;
  text-align: center;
}

h1 {
  color: #F6EA36;
  font-family: 'Yatra One', cursive;
  font-size: 60px;
}

body {
  font-family: 'Kreon', serif;
  margin: 20px;
  color: #F6EA36;
  background-color: #7ACC76;
  min-height: 500px;
  text-align: center;
}
